a{
    text-decoration: none;
    color: black;
}
body{
    position: relative;
    background-color: #336699;
    /* height 100% 不会铺满 */
    /* height: 100vh; */
    /* z-index: ; 只对设置了position的起效，太繁琐，故直接用body当底部*/
}
.lun{
    width: 80%;
    height: 80vh;
    /* 图片不能撑开盒子 */
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    margin: 60px auto;
}
.lun .inner img{
    height: 100%;
    position: absolute;
    transition: all 1.5s ease;
    opacity: 0;
    margin: 0 auto;
}
.lun button{
    float: left;
    height: 100%;
}
.catalog{
    width: 300px;
    padding: 30px 20px;
    background-color: white;
    float: left;
    border-radius: 10px;
    margin-left: 40px;
    position: sticky;
    margin-top: 50px;
    box-shadow: #0000006b 0px 5px 11px 1px; 
}
.catalog summary:hover{
    color: rgba(22, 214, 108, 0.909);
}
.catalog a:hover{
    color: rgba(22, 214, 108, 0.909);
    text-decoration: dashed;
}
.content{
    position: relative;
    margin-top: 30px;
    width: 870px;
    float: right;
    padding: 20px 30px;
    margin-right: 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: #0000006b 0px 5px 11px 1px; 
}
.catalog details{
    line-height: 25px;
    color: #413f42;
}
.catalog summary{
    font-size: 20px;
    text-indent: 1em;
}
.catalog p{
    font-size: 17px;
    margin-bottom: 0;
    text-indent:3em;
}
/* .backbox{ */
    /* position: relative; */
    /* background-color: #336699; */
    /* width: 100%; */
    /* height 100% 不会铺满 */
    /* height: 100vh; */
    /* z-index: ; */
/* } */
.bubble{
    position: absolute;
    display: flex;
    width: 100%;
}
.bubble span{
    width: 30px;
    height: 30px;
    background-color: rgba(52, 234, 234, 0.778);
    margin: 0 4px;
    border-radius: 50%;
    /* 多重阴影 */
    box-shadow: 0 0 0 10px #4fc3dc44, 0 0 50px #4fc3dc, 0 0 100px #4fc3dc;
    /* 无限循环播放 */
    animation: flow 15s linear infinite;
    /* var通过html传参,calc用于动态参数 */
    animation-duration: calc(125s / var(--i));
}
.bubble span:nth-child(even){
    background-color: #ff2d75;
    box-shadow: 0 0 0 10px #ff2d7544, 0 0 50px #ff2d75, 0 0 100px #ff2d75;
}
@keyframes flow {
    0% {transform: translateY(150vh) scale(0);}
    100% {transform: translateY(-10px) scale(1);}
}
.card{
    display: flex;
    width: 90%;
    height: 80vh;
    margin: 60px auto;
    margin-top: 80px;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
.card .fan{
    width:10%;
    height: 100%;
    margin: 0 4px;
    border-radius: 60px;
    overflow: hidden;
    background-size: 120vh auto;
    transition: all 1s ease 0.5s;
    background-repeat: no-repeat;
    background-position: center;
}
#nav{
    position: fixed;
    /* 无定位设置偏移无效 */
    right: 0;
    top: 20px;
    z-index: 1000;
}
.nav{
    width: 600px;
}
.nav-item{
    width: 25%;
}
